/* @import "tailwindcss";


@theme{

    --breakpoint-ss:62rem;
    --breakpoint-ds:36rem;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "tailwindcss/utilities";




@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient-text {
    background-image: linear-gradient(to right, #3a7bfc, #6f42c1, #e83e8c, #3a7bfc);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite alternate;
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-ss: 62rem;
  --breakpoint-ds: 36rem;
  --breakpoint-ls:36.75rem;
}
@theme {
  --font-inter: "Inter", "sans-serif"; 
}

@import "tailwindcss/utilities";

@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient-text {
    background-image: linear-gradient(to right, #3a7bfc, #6f42c1, #e83e8c, #3a7bfc);
    background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite alternate;
  }
}

/* index.css or App.css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #5098e9; /* Indigo-600 */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Optional: on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0f0863; /* Indigo-700 */
}
